/* .intro-bg2 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.mask2 {
  width: 100%;
  height: 70vh;
  position: relative;
}
.mask2::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222;
  opacity: 0.7;
}
.hero2 {
  height: 100%;
  width: 100%;
  position: relative;
}
.hero2 .heading {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}
.hero2 .heading h1 {
  font-size: 4rem;
  padding: 0.6rem 0 1.5rem;
}
.hero2 .heading p {
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
} */

.hero-img2 {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  height: 60vh;
  position: relative;
}
.hero-img2::before {
  content: "";
  background: url("https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.heading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-img2 h1 {
  font-size: 2.4rem;
  padding: 0.6rem 0 1rem;
}
.hero-img2 p {
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width: 640px) {
  .hero-img2 h1 {
    font-size: 2rem;
  }
}
